.output { 
		font-weight: bold; //жирный шрифт для вычисленных значений
	} 
		#payment { text-decoration: underline; } //для элементов с id="payment"
		th, td { vertical-align: top; } //выравнивание в ячейках таблицы
